*.mp4
*.png
*.mp3
*.gz
*.log
*.conf
*.sqlite
*.db
*.db-*
*.db-wal
*.perm
*.db-shm
*.json
*.txt
*.csv
*.ts
*.ts.bak
*.ts.bak.
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9
*.list
*.domains
*.crt
*.perm
*.pem
*.jpg
*.xml
*.mkv
HTTPCookies
StoredValues
*.immich
CacheInfo
Dict
*.movie_*
*.series_*
*.dat
*.der
*.so
*.LocalAdminToken
*.etag
*.sha1
*.pid
EasyAudioEncoder
*.device-id
*.toml
*.p12
*.html
logrotate
*.leases
*.env
*.css
versions
cli_pw
*.save
